.IconButton {
  @apply appearance-none bg-transparent inline-block align-middle no-underline cursor-pointer leading-solid p-2;
  transition: transform 0.25s ease-out;
}

.IconButton:hover,
.IconButton:focus {
  transform: scale(1.05);
}

.IconButton:active {
  transform: scale(0.9);
}

.IconButton:disabled {
  @apply opacity-25;
}
